Instagram Clone!
<form action="/image-upload" method="POST" enctype="multipart/form-data">
	<input type="file" name="file-to-upload" />
	<input type="text" name="caption" />
	<input type="submit" value="Submit" />
</form>