Instagram Clone!
<form action="/image-upload" method="POST" id="image-upload-form" enctype="multipart/form-data">
	<input type="file" id="file-to-upload" name="file-to-upload" />
	<input type="text" name="caption" />
	<input type="submit" value="Submit" />
</form>

<div class="image-container">
	<% for(var i in db){ %>
		<%= db[i].caption %>
	<% }; %>
</div>

<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script>

</script>