Instagram Clone!
<form id="image-upload-form" enctype="multipart/form-data">
	<input type="file" id="file-to-upload" name="file-to-upload" />
	<input type="text" name="caption" />
	<input type="submit" value="Submit" />
</form>


<ul id="posts-container">
	<% for(var i in db){ %>
		<li class="post-container">
			<div class="image-container">
				<img src="<%= db[i].path %>" />
			</div>
			<div class="caption-container">
				<%= db[i].caption %>
			</div>
		<div>
	<% }; %>
</div>

<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="/public/scripts/main.js"></script>