Instagram Clone!
<form id="image-upload-form" enctype="multipart/form-data">
	<input type="file" id="file-to-upload" name="file-to-upload" />
	<input type="text" name="caption" />
	<input type="submit" value="Submit" />
</form>


<div class="image-container">
	<% for(var i in db){ %>
		<img src="<%= db[i].path %>" />
		<%= db[i].caption %>
	<% }; %>
</div>

<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script>

   $('#image-upload-form').submit(function(e){
      var formData = new FormData($(this)[0]);
      $.ajax({
          type:'POST',
          url:'/image-upload',
          data : formData,                  
          contentType: false,
          processData: false
      }).done(function(data){
          $(".image-container").prepend("<img src='" + data.path + "' />");
      }).fail(function(data){
            console.log('Error');
        });
      e.preventDefault(); 
    });
 
</script>