Instagram Clone!
<form id="image-upload-form" enctype="multipart/form-data">
	<input type="file" id="file-to-upload" name="file-to-upload" />
	<input type="text" name="caption" />
	<input type="submit" value="Submit" />
</form>

<div class="content-container"></div>

<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="/public/scripts/main.js"></script>
<script>
	$(".content-container").append(loadPosts());
</script>