<!DOCTYPE html>
<html>
<head>
<title>Pixi</title>
<link type="text/css" rel="stylesheet" href="/public/stylesheets/main.css"/>
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Homemade+Apple" />
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Cabin" />
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Droid+Sans" />
</head>
<body>


<div id="header">
<h1>Pixi</h1>

<form class="login-form" action="/login" method="post">
    <label for="first_name">Username:</label>
    <input type="text" id="username" name="username" />
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" />
    <div class="actions">
      <input id="login-button" type="submit" value="login" />
    </div>
    <a href="./signup">sign up</a>
  </form>
</div>



<div id="body">
<div class="content-container"></div>

<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="/public/scripts/main.js"></script>

</div>
</body>
</html>