<!DOCTYPE html>
<html>
<head>
<title>Pixi</title>
<link type="text/css" rel="stylesheet" href="/public/stylesheets/main.css"/>
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Homemade+Apple" />
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Cabin" />
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Droid+Sans" />
</head>
<body>

<div id="header">
<h1>Pixi</h1>

<h4>You are logged out. See you soon!</h4>

</div>

<div id="body">
<div class="content-container"></div>

<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="/public/scripts/main.js"></script>

</div>
</body>
</html>