<!DOCTYPE html>
<html>
<head>
<title>Pixi</title>
<link type="text/css" rel="stylesheet" href="/public/stylesheets/main.css"/>
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Homemade+Apple" />
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Cabin" />
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Droid+Sans" />
</head>
<body>

<div id="header">
<h1>Pixi</h1>

<p>You are logged out. See you soon!
<a id="login" href="./login">log back in</a></p>



</body>
</html>